<form [formGroup]="formulariCerca">
  <label for="cerca">Cerca d'elements:</label>
 
  <div class="input-container">
    <input
      id="cerca"
      type="text"
      formControlName="termeCerca"
      placeholder="Escriu per cercar...">

    <span *ngIf="estaValidant" class="spinner">Validant...</span>

    <button
      *ngIf="teText"
      type="button"
      (click)="netejar()">
      Netejar
    </button>
  </div>

  <div *ngIf="termeInvalid" class="error-message">
    {{ missatgeError }}
  </div>
</form>