:host {
  display: block;
  max-width: 400px;
  margin: auto;
}

.detalle {
  margin-top: 20px;
  padding: 10px;
  border-top: 5px solid black;
}
.grid {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  margin: 10px auto;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: stretch;
}
